<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Fauzan Erich Emmerling | Web & Mobile Solutions Engineer</title>
		<meta name="KEYWORDS" content="fauzan, erich, emmerling, web, mobile, solutions, engineer, facebook, apps, website, strategy, collaboration, e-commerce" /> 
	  	<meta name="DESCRIPTION" content="Official website and blog of Fauzan Erich Emmerling, Web & Mobile Solutions Engineer from Jakarta Indonesia" /> 
	  	<meta name="Robots" content="all,index,follow" /> 
	  	<meta name="revisit-after" content="7 days" /> 
	  	<meta name="distribution" content="global" />
    <link href="/static/brunch/css/main.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="/static/brunch/js/app.js"></script>
    <script>require('main');</script>
  </head>
  <body>
    <div id="page">
			<div id="head-content">
				<div id="title-area">
					<h1>Fauzan Erich Emmerling</h1>
					<h2>Web & Mobile Solutions Engineer</h2>
				</div>
				<div id="menu-area">
					<ul>
						<li><a href="#home">home</a></li>
						<li><a href="#works">works</a></li>
						<li><a href="#tools">tools</a></li>
						<li><a href="#contact">contact</a></li>
						<li><a href="http://fauzanemmerling.blogspot.com">blog</a></li>
					</ul>
				</div>
			</div>
			<div id="mid-content"></div>
			<div id="bot-content">
				&copy;2011 - Fauzan Erich Emmerling<br />
				powered by 
				<a href="http://brunchwithcoffee.com/">brunch</a> - <a href="http://flask.pocoo.org/">flask</a> - 
				<a href="http://appengine.google.com">GAE</a></div>
		</div>
  </body>
</html>
