@import "reset"

body
  margin 0px
  padding 0px

#page
  width 760px
  height 680px
  margin 0 auto
  position relative


#head-content
  width 760px
  height 100px
  background #fff

#title-area
  width 50%
  height 75px
  margin 25px 0 0 0
  float left
  h1
    font-size 25px
    color #444
    text-align center
    margin 0 0 0 0
    font-family arial, helvetica, sans-serif
    font-weight bold
  h2
    font-size 12px
    color #000
    text-align center
    margin 0 0 0 0
    font-family arial, helvetica, sans-serif
    font-weight normal

#menu-area
  width 50%
  height 100px
  float left
  font-size 18px
  font-weight bold
  font-family arial, helvetica, sans-serif
  ul
    display:inline;
    li
      list-style none
      display block
      float left
      margin 40px 10px 0 10px
      a
        color #666
        text-decoration none
      a:hover
        color #0099ff
      a:visited
        color #666

#mid-content
  width 760px
  height 480px
  background #fff

#left-img
  width 320px
  float left
  margin-left 40px
  img
    width 320px
    border solid 1px #ccc

#right-content
  width 360px
  font-family arial, helvetica, sans-serif
  font-size 13px
  float left
  p
    margin 0 0 12px 20px
    text-align justify
    line-height 22px
  ul
    position relative
    left 35px
    margin 3px 20px 3px 0
    li
      margin-bottom 3px
      list-style square
      a
        color #0099ff
        text-decoration none
      a:hover
        color #ccc

#conimg
  margin-left 3px

#bot-content
  width 720px
  height 80px
  text-align right
  font-size 11px
  font-family arial, helvetica, sans-serif
  font-weight normal
  background #fff
  a
    color #0099ff
    text-decoration none
  a:visited
    color #0099ff

